.App {
  /* entire app styles */
  text-align: center;
}
.post-grid {
  gap: 10px;
}
.post {
  width: 500px;
  height: 600px;
  background-color: grey;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
}

.post-image{
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.nav {
  background-color: grey;
  position: fixed;
  bottom: 0;
  width:  100%;
}