.App {
  /* entire app styles */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* filter things */
.actual-nav .filters{
  /*border: solid 1px black;*/
  width: 550px;
}

.filters button {
  margin: 25px;
  margin-top: 0;
  width: 130px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 2px 2px grey;
  font-size: 15px;
}

.post-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.post {
  border: solid 1px #dbdbdb;
  margin-bottom: 30px;
  background-color: rgba(67, 6, 107, 0.377);
  width: 500px;
  height: fit-content;
  border-radius: 15px;
}

.post .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.post-image-box {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.post-image{
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}

.post-price-box{
  float: right;
  position: absolute;
  width: 100px;
  height: 50px;
  right: 10px;
  bottom: 10px;
  border: 1px solid grey;
  background-color: lightgrey;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

.post-price {
  font-weight: bold;
}
.post .info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
}

.post .info .author {
  font-weight: 700;
  padding-left: 10px;
}

.post .info .likes {
  font-weight: 200;
  display: flex;
  padding-right: 10px;
}

.post .info .likes button {
  width: fit-content;
  height:fit-content;
  margin: auto;
}

.caption {
  display: flex;
  align-items: flex-start;
  text-align: start;
  font-weight: 200;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .actual-nav {
  display: flex;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 500px;
  height: 50px;
  padding: 15px;
  border: 1px solid black;
}

.actual-nav button {
  font-weight: bold;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width:  100%;
}

.nav .newCommission .popup {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  position: fixed;
  background-color: rgba(200,200,200,1.0);
  border-radius: 20px;
  top: 200px;
}

.popup header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
}

.popup .close-popup {
  align-self: center;
  position: absolute;
  left: 10px;
  width: 100px;
  margin: 5px;
}

.popup header h3 {
  justify-self: center;
  border: 1px solid black;
}

.popup .add-image {
  border: 1px solid black;
  width: 100%;
  margin: 5px;
}

.popup .add-image button {
  width: 100px;
}

.popup .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  width: 100%;
  margin: 5px;
}

.popup .description input {
  width: 95%;
  margin: 5px;
}

.popup strong {
  margin: 5px;
}

.popup .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  width: 100%;
  margin: 5px;
}

.popup .info .medium, .popup .info .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 100%;
} 

.popup .info .medium p, .popup .info .price p{
  margin: 5px;
} 
.popup .info .price input {
  width: 100px;
  border: 1px solid black;
  margin-right: 5px;

}

/* Dropdown Button */
.popup .dropbtn {
  border: none;
  width: 100px;
  height: 50px;
  padding: 0px;
  margin: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}