
.App {
  /* entire app styles */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* filter things */
.filters{
  /*border: solid 1px black;*/
  width: 800px;
}

.Painting{
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.9;
  background-image: url('../src/img/paint.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Ceramic{
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.9;
  background-image: url('../src/img/ceramics.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Commission{
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.9;
  background-image: url('../src/img/commission.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-emphasis-color: white;
}

.explore{
  background: linear-gradient(to right, #c26bbc, #f78e92);
-webkit-text-fill-color: transparent;
background-clip: text;
}

.filters button {
  margin: 25px;
  margin-top: 0;
  width: 130px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 2px 2px grey;
  font-size: 15px;
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
  /* align-items: center; */
  gap: 10px;
  margin: 10px;
}

.post {
  border: solid 1px #dbdbdb;
  margin-bottom: 30px;
  background-color: rgba(67, 6, 107, 0.377);
  width: 400px;
  height: fit-content;
  border-radius: 15px;
}

.post .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.post-image-box {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 400px;

}

.post-image{
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  object-fit: cover;
}

.post-price-box{
  float: right;
  position: absolute;
  width: 100px;
  height: 50px;
  right: 10px;
  bottom: 10px;
  border: 1px solid grey;
  background-color: lightgrey;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

.post-price {
  font-weight: bold;
}
.post .info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
}

.post .info .author {
  font-weight: 700;
  padding-left: 10px;
}

.post .info .likes {
  font-weight: 200;
  display: flex;
  padding-right: 10px;
}

.post .info .likes button {
  width: fit-content;
  height:fit-content;
  margin: auto;
}

.caption {
  display: flex;
  align-items: flex-start;
  text-align: start;
  font-weight: 200;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}


.nav  {
  display: flex;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  height: 50px;
  padding: 15px;
}

.nav button {
  font-weight: bold;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width:  fit-content;
}

.nav .newCommission .popup {
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: rgba(200,200,200,1.0);
  border-radius: 20px;
  top: 20px;
  left: 20px
}

.popup header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popup .close-popup {
  align-self: center;
  position: absolute;
  left: 10px;
  width: 50px;
  margin: 5px;
  padding: 2px
}

.popup header h3 {
  justify-self: center;
}

.popup .add-image {
  width: 100%;
  margin: 5px;
}

.popup .add-image button {
  width: 100px;
}

.popup .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 5px;
}

.popup .description input {
  width: 95%;
  margin: 5px;
}

.popup strong {
  margin: 5px;
}

.popup .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 5px;
}

.popup .info .medium, .popup .info .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 

.popup .info .medium p, .popup .info .price p{
  margin: 5px;
} 

.popup .info .medium input, .popup .info .price input {
  width: 100px;
  margin-right: 5px;
}
